.top-bar {
    width: 100%;
    height: 70px;
    background-color: #fafafa;
    color: #525252;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;

    & .top-bar__name {
        font-weight: 500;
    }

    & .top-bar__img {
        aspect-ratio: 1/1;
        width: 50px;
        border-radius: 100%;
    }
}